<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Flask</title>
</head>
<body>
    <h1>Blog Flask</h1>
    <ul>
        {% for post in posts %}
            <li><a href="{{ url_for('view_post', post_id=loop.index-1) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_post') }}">Adicionar Nova Postagem</a>
</body>
</html>
